body{
    display: none;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}
/* --Post--Request-- */
.main-container{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.profile-card{
    margin-bottom: 1em;
}

/* style for card */
.center{
    text-align: center;
    margin: 10px 0;
}

.center-margin{
    margin: 0 auto;
}

/* card-image */
.profile-card-image{
    
    width: 100px;
    margin: 0 auto; 
    margin-bottom: 1em;
}


/* styles for Post */

.post-container{
    /* margin: 1em; */
    overflow: auto;
    max-width: 768px;
    max-height: 85vh;
    /* background: #eeeeee; */
}
.post-container .post{
    background: #fff;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 1em;
    width: 95%;
}

.post .post-header{
    display: flex;
    margin-bottom: 20px;
}

.post .post-header .header-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding:0 5px;
}

.post .post-header .header-container .margin-zero{
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

/* User response for post */
.post-response{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.3);
}

.post-response .response-button{
    /* border: 1px solid red; */
    padding: 15px;
}

.post-response .response-button .button-text{
    cursor: pointer;
}

.post-response .response-button .button-text:hover{
    color: #39C0ED;
}

@media screen and (max-width: 768px){
    .profile-card{
        /* display: none; */
    }

    .main-container{
        margin-top: 4.4em;
    }

    body{
        height: auto;
    }

    .post-container{
        /* overflow: hidden; */
        max-height: 100%;
    }
}